{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="content">
				
  <p>Советский кинематограф яркое и самобытное явление в истории мировой культуры.
   За все время существования Советского Союза было создано огромное количество произведений,
   которые уже в свое время стали культовыми в СССР и заслужили признание во всем мире.
   Эти фильмы воспитали несколько поколений людей, став неотъемлемой частью их жизни.
   При этом, нельзя упустить и жанровое разнообразие, включавшее в себя не только кинокомедии и драмы,
   а также детективы, исторические фильмы и многое другое.
  </p>

  <p>В СССР произошло рождение большого числа высококвалифицированных кинодраматургов,
   сценаристов и режиссеров, которые внесли такой колоссальный вклад в дело создания мирового кино,
   что иногда просто невозможно поверить в то, в каком упадке сейчас находится Российский кинематограф.
  </p>

  <p>Даже сейчас о них невозможно забыть,
   потому что реплики многих героев советского кинематографа крепко вошли в нашу обыденную речь.
   Именно поэтому в качестве темы для этого сайта мы и выбрали Советское кино, ведь что может быть интереснее,
   чем снова пережить эти старые истории,
   заново познакомиться с любимыми актерами и обсудить с такими же любителями кино свои увлечения?
  </p>

  <p>Если вы разделяете подобную страсть, то просим пожаловать на наш сайт, надеемся,
   что он окажется достаточно интересным для вас!
  </p>
  <center><button class="btn-toggle"><img src="{% static 'img/based.jpg' %}"  class="mem"></button></center>
</div>
{% endblock %}