html, body{
  color: #eee;
  background: black;
}
.wrapper{
	  background: #121212;
}

div.footer{
	  background: rgba(255,255,255, 0.3); 
}
li {
  color: #eee;
}

li a {
  color: #eee;
}

.mem {
    border: 2px solid black; /* Параметры рамки */ 
   }