@font-face {
	font-family: 'Impact';
	src: url('../fonts/impact.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/impact.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/impact.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/impact.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/impact.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/impact.svg#impact') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
}

.toggle-btn{
  display: none;
}

.mem {
	width: 60%;
    padding: 10px; /* Ширина паспарту */
    background: #ffd700; /* Цвет фона  паспарту */
    border: 2px solid black; /* Параметры рамки */ 
	margin: 0 auto;
}
 
img.menu { z-index: 1;  width: 75%; height: 75%; max-width: 850px;}





<!--
div.header {position: relative; }

.moon {  z-index: 2;text-align: center;  position: absolute; left: 49.81%; top: 2px; width: 10%;  max-width: 34px; }
.sun { z-index: 3; text-align: center;  position: absolute; left: 49.81%;  top: 2px; width: 10%;  max-width: 34px; } 
-->

html, body{
	font-family: Impact;

}

body{
	margin: 0 auto;
}

button{
  outline: none; /* Для синий ободки */
  border: 0;
  background: transparent;
  }
	
div.wrapper{
	text-align: center;
	height: 100%;
	margin: 0 auto;
}

img.sort{
	position: fixed;
	width: 34px;
	float: left; 
	

}

div.content{
	text-indent: 1.5em;
	margin: 3%; 
    padding: 20px;
	padding-bottom: 0;
	  box-sizing: border-box;
  height: 100%;
 
  text-align: left;
}

div.footer{
	width: 100%;
	clear: left;
	bottom: 0;
    padding: 20px;
	
	  box-sizing: border-box;
	text-align: justify;

}


h1.title{
	text-align: center;
	font-style: normal;
	padding: 5px;
	padding-bottom: 0;
	
}


p {
    margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 1em; /* Отступ снизу */
   }

a {
  text-decoration: none;
}

ul {

  list-style: none;
}
ul.sort{
	padding-top: 20px;
	 padding-left: 20px;
	 margin-left: 20px;
	 
}

li {

  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
li a {
  padding: 12px;
  
}

li:hover {
  cursor: pointer;
}
li a:hover  {
  color: red;
}


ul li ul {
  opacity: 0;
  min-width: 5rem;
  transition: all 0.5s ease;
  margin: 0 auto;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;

}

ul li ul li {
  clear: both;
  width: 100%;
}

